<!DOCTYPE html>
<html>
  <head>
    <title>ImageApiWrapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <div style="text-align: center; margin-top: 50px;">
      <%= link_to 'Dogs', '/dogs/random', class: 'btn btn-primary', style: 'margin-right: 10px;' %>
      <%= link_to 'Cats', '/cats/random', class: 'btn btn-primary', style: 'margin-right: 10px;' %>
      <%= link_to 'Anime', '/anime/random', class: 'btn btn-primary', style: 'margin-right: 10px;' %>
      <%= link_to 'Random', '/random_images/random', class: 'btn btn-primary' %>
    </div>

    <%= yield %>
  </body>
</html>
